
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/lyrics.js"></script>
  </head>
  <body>
      <form action="/annotate" method="post">
          <input type="text"  name='url' placeholder="url"/>
          <input type="submit" value="Annotate"/>
      </form>

	<pre id="lyrics">Hello world. I like this song.</pre>
	<button id="play"> Play song </button>
    <div id="times"></div>
  </body>
</html>
